
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[class*='Grid'] {
    background: rgba(208,206,213,0.76);
    border: 1px solid #999;
    margin: 1px;
}
#breadBoard {
    width: 100vw;
    height: 75%;
    border: 1px solid darkseagreen;
    margin: 1px;
    background-color: rgba(87,20,1,0.11);
}

[class*='row-']:before,
[class*='row-']:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    /*-- our gutter -- */
    padding: 1px;
    margin: 0.1%;
}

.col-gate{
    width: 6.9%;
}
.col-in{
    width: 3.5%;
}
.col-out{
    width: 3.5%;
}
.col-t {
    width: 3.38%;
}


.gateGrid {
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    height: auto;
    float: left;
}

.newGate{
    width: 48px;
    height: 48px;
    margin: 4px;
    float: left;
}

.gate {
    width: 3em;
    height: 3em;
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    float: left;
}

.wireGrid {
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    height: auto;
    float: left;
}

.iWireGrid {
    margin-top: 0;
}

.oWireGrid {
    margin-top: 110%;
}

.tWireGrid {

}

.active {
    background: rgba(18,207,213,0.76);
}

.right {
    border: 1px solid #000000;
    background-size: 100% 100%;
    background-image: url('../img/right.svg');
}

.down {
    border: 1px solid #000000;
    background-size: 100% 100%;
    background-image: url('../img/down.png');
}

.split {
    border: 1px solid #000000;
    background-size: 100% 100%;
    background-image: url('../img/split.png');
}

.elbow {
    border: 1px solid #000000;
    background-size: 100% 100%;
    background-image: url('../img/elbow.png');
}

.NAND {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/NAND.svg');
}

.NOR {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/NOR.svg');
}

.AND {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/AND.svg');
}

.OR {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/OR.svg');
}

.starter {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
}

.starter0, .zero {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/zero.jpg');
}

.starter1, .one {
    border: 1px solid #000000;
    background-color: rgba(42,134,11,0.31);
    background-size: 100% 100%;
    background-image: url('../img/one.jpg');
}

.result {
    background-color: rgba(213,6,28,0.76);
}

#controlBoard {
    min-width: 100%;
    height: 250px;
    border: 1px solid darkseagreen;
    margin: 1px;
    background-color: rgba(87,20,1,0.11);
}

#gates {
    width: 50%;
    height: 150px;
    border: 1px solid #000000;
    margin: 5px;
}

#buttonContainer {
    min-width: 50%;
    height: 100px;
    margin: 5px;
}

#startButton, #nextButton #startOver {
    border: 1px solid darkseagreen;
    margin: 3px;
}
